{% extends 'Base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <form action="{{ url_for('check_in') }}" method="post">
    <h3>
        {% if invalid_store_id %}
            Store id provided is invalid.
        {% elif not slot_found %}
            There is no slot for this customer id.
        {% else %}
            Customer ID: {{ customer_id }} <br/>
            Time Slot: {{ time_slot }}
        {% endif %}
        <br/>
        <button type="submit">Check another combination</button>
    </h3>
    </form>
{% endblock %}
