{% extends 'Base.html' %}
{% block head %}

{% endblock %}
{% block body %}
      <h3>
          Welcome! Let's Register your Store.
      </h3> <br/>
    <form action="{{ url_for('store_register') }}" method="post">
    <h4>

    Enter the Name of your store: <br/>
    <input name="store_name"> <br/>

    Enter the Address of your store: <br/>
    <input name="store_address"> <br/>

    Select the opening time of the store: <br/>
    <select name="open_time">
        {% for i in times %}
            <option value="{{ i }}"> {{ i }}</option>
        {% endfor %}<br/>
    </select>
        <br/>
    Select the closing time of the store: <br/>
    <select name="close_time">
        {% for i in times %}
            <option value="{{ i }}"> {{ i }}</option>
        {% endfor %}
    </select>
        <br/>

    Select the average time (in minutes) to be allotted to the customer: <br/>
    <select name="avg_time">
        {% for i in average_times %}
            <option value="{{ i }}"> {{ i }}</option>
        {% endfor %}
    </select>
        <br/>

    Enter the number of cashiers
    <input name="num_cashiers"> <br/>
    </h4>
    <button type="submit">Register</button>

{% endblock %}
