{% extends 'Base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <h1>
    Gocery - Register your store and manage appointments of customers
    </h1>
      <h3>
          <centre>Welcome!</centre><br/>
          What would you like to do? <br/>
      You can either register your store or you can enter the customer IDs to start their appointment<br/>
      </h3> <br/><br/>
    <form action="{{ url_for('store_registration') }}" method="post">
    <button type="submit">Register your store</button>
    <br/>
    </form>
    <form action="{{ url_for('check_in') }}" method="post">
    <button type="submit">Check in customers</button>
    </form>

{% endblock %}
