{% extends 'Base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <form action="{{ url_for('email_generator') }}" method="post">
        <h3>
           The store you selected was {{ content['store_name'] }} <br/>
            You may select a time as to your convenience from the drop down menu below.
        </h3> <br>
        <br>
        <select name="selected_time">
            {% for i in range(toggle) %}
                <option value="{{ content['timing'][i] }}"> {{ content['timing'][i] }}</option>
            {% endfor %}
        </select>

        <button type="submit" name="Button" value= {{ i }}>Select Time</button>
        <br/>
    </form>
{% endblock %}
